
body {
  border: 1px solid #e0bfa2;
  padding: 10px;
}

#titulo {
  color: teal;
  font-size: 2em;
  font-weight: bold;
}

strong {
  color: red;
}

.destacado {
  color: orange;
}

#subtitulo {
  color: blue;
  font-size: 1.5em;
}

a {
  color: red;
}

a em {
  color: rgb(0, 0, 255);
}

.especial {
  color: purple;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin: 10px 0;
  width: 400;
  text-align: center;
}

caption {
  color: rgb(0, 0, 255);
  font-weight: bold;
  padding: 10px;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

thead .especial {
  color: orange;
}

tbody th.especial {
  color: orange;
}

tbody th.especial2 {
    color: red
}

tbody td em {
  font-family:'Times New Roman';

}

tbody td {
    color: green;
}
tbody tr td strong{
    color: orange;
}

tfoot th, tfoot td {
  color: red;
  font-weight: bold;
}

#adicional {
  color: rgb(151, 216, 0);
  margin-top: 10px;
}

#adicional span {
  color: orange;
}

#adicional #especial {
  color: fuchsia;
  font-weight: bold;
}
